.contacto {
  background-color:  #010e1eef;
  border: 1px border #010e1eef;
  color: $color-light;

  border-radius:4px ;
      
  &:hover {
    box-shadow: 10px 10px 5px rgba(65, 59, 59, 0.541);
    transform: scale(1.01);
    transition: all 1s;
   background-color: rgba(27, 27, 44, 0.911);
  }

  

  p {
    margin-left:2%;
  }


  .container-contacto {
    @extend %space-between;

    .form-item {
      
      padding: 10px;
      border-radius: 5px;
      
    }
    .parrafo-contacto {
      padding: 40px;
     
    }
  }
}

