.footer-container {
  @extend %space-between;
  width: 100%;
  height: 80px;
  color: #010e1e;
  background-color: #fff;
  font-size: 15px;
  
  font-family: "Nunito", sans-serif;
  padding: 15px;

  .social-media {
    width: 25px;
  }
}
