.container-main {
  position: relative;
  display: inline-block;
  text-align: center;
  overflow: hidden;

  .title-main {
    position: absolute;
    top: 40%;
    right: 40%;
    
    font-family: "Poppins", sans-serif;
    color: #ffffff;

    .sub{
      font-size:18px ;
      font-family: "Nunito", sans-serif;

      
    }
   img {
     width: 60%;
   }

    button {
      font-family: "Poppins", sans-serif;
     
    }

    &:hover {
     
      transform: scale(1.05);
      transition: all 2s;
    }
  }
  .foto {
    width: 100vw ;
  }
}

