.container-main {
  position: relative;
  display: inline-block;
  text-align: center;
  overflow: hidden;

   h1 {
   display: none;
  }

  .title-main {
    position: absolute;
    top: 40%;
    right: 40%;
    
    font-family: "Poppins", sans-serif;
    color: #ffffff;

    .sub{
      padding: 20px;
      font-size:18px ;
      font-family: "Nunito", sans-serif;  

    
     @media (max-width: 768px) { display: none; }
    
    
    }

    img {
      width: 60%;
      @media (max-width: 768px) { width: 100%; }
    }

    button {
     margin: 20px;
     font-family: "Nunito", sans-serif;
     @media (max-width: 768px) { display: none; }
      &:hover{
        color: rgba(27, 27, 44, 0.8);

      }
    }

    &:hover {
      transform: scale(1.05);
      transition: all 2s;
    }
  }

  .foto {
    width: 100vw ;
  }
}

