.container-nosotros {
  position: relative;
  overflow: hidden;
  margin: 10px 0;
  border-radius: 4px;
   

  .nosotros-image-item {
    .img-fluid {
      max-width: 100%;

    }

  }

  .nosotros-text-item {
    display: flex;
    flex-direction: column;
    h3{
    padding-top: 0;
  }

    .parrafo-nos {
      padding: 63px;
      padding-left: 0;
      color: #010e1e;
      font-weight: bolder;
      font-size: 16px;
      text-align:left;
      @media (max-width: 768px) { font-size: 14px }
    }
  }
}




