
.portfolio-gula{
  padding-top: 2%;

    .col-sm {
     margin:0;
     padding:25px;

      img:hover {
        box-shadow: 10px 10px 5px rgba(65, 59, 59, 0.541);
        transform: scale(1.03);
        transition: all 1s;

      }

    }

}