

.container-box {
h3 {

  padding-bottom: 60px;
}


  .box-item {
 
    border:1px solid #010e1e;
    color: #010e1e;
    padding: 40px;
    margin: -8px;
    border-radius: 4px;

    h5{
      font-weight: bolder;
    }
 
    &:hover {
      box-shadow: 10px 10px 5px rgba(65, 59, 59, 0.541);
      transform: scale(1.03);
      transition: all 1s;

      
    }

  }










}