body {
  color: #010e1e;
  background-color: #fff;
  overflow-x: hidden;
  font-family: "Nunito", sans-serif;

  @media (max-width: 768px) { font-size: 20px }
    


  section {
    margin-top: 5%;
    background-color: #fff;
    color: #010e1e;
    
    font-family: "Nunito", sans-serif;
    @media (max-width: 768px) { font-size: 12px }

    h3{
       padding-top: 5%;
    
       font-size: 28px;
       @media (max-width: 768px) { font-size: 24px }
     }
  }
}

