body {
  color: #010e1e;
  background-color: #fff;
  overflow-x: hidden;


  section {
    margin-top: 5%;
    background-color: #fff;
    font-family: "Nunito", sans-serif;
    color: #010e1e;
    font-weight: bold;
   


    h2 {
      font-weight: bolder;
     
      padding-top: 5%;
    }
  }
}

